.board-box {
    width: 33.3333%;
    height: 33.3333%;
    border: 1px solid;
    background-size: cover;
    background-position: center;
}

#gameBoard {
    width: 500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
}